@media (max-width: 768px) {
    .header {
        height: 480px;
        padding-top: 40px;
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &::before, ::after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            &.active {
                span {
                    transform: scale(0);
                }
                &::before {
                    transform:rotate(45deg);
                    top: 9px;
                }
                &::after {
                    transform:rotate(-45deg);
                    bottom: 9px;
                }
            }
        }
        &__nav {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.4s ease 0s;
            background-color: rgba(56, 56, 56, 0.9);
            z-index: 2;
            &.active {
                top: 0;
            }
        }
        &__list {
            display: block;
            padding-top: 80px;
            text-align: center;
            line-height: 2;
            li {
                margin-bottom: 20px;
                margin-right: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            a {
                font-size: 20px;
            }
        }
    }
    .first {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 1.8;
        }
        &__link-btn {
            width: 180px;
            height: 50px;
            padding: 15px 0;
            font-size: 18px;
        }
    }
    .start {
        &__inner {
            margin: 80px auto 70px;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
    .any-browser {
        &__title {
            font-size: 30px;

        }
        &__subtitle {
            font-size: 17px;
            line-height: 1.5;
        }
    }
    .swiper {
        &__container {
            max-width: 100%;
        }
        &__arrow {
            top: -55px;
            width: 18px;
            &--prev {
                left: 10px;
            }
            &--next {
                right: 10px;
            }
        }
        &__item-inner {
            img {
                height: 375px;
            }
        }
    }
    .pricing-plan {
        &__title {
            font-size: 22px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 1.5;
        }
        &__desc {
            line-height: 1.5;
        }
    }
    .column {
        width: calc(100% / 3 - 15px);
        &__upper {
            font-size: 25px;
            padding: 25px 0;
            &--center {
                padding: 13px 0;
                line-height: 1.4;
            }
        }
        &__row {
            font-size: 19px;
        }
    }
    .contact {
        &__inner {
            padding: 50px 0;
        }
        &__title {
            font-size: 34px;
        }
        &__subtitle {
            font-size: 19px;
        }
        &__form-inside {
            height: 50px;
        }
    }
    .footer {
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
            padding: 30px 0;
            line-height: 2;
        }
        &__copyright {
            font-size: 15px;
        }
    }
}

@media (max-width: 720px) {
    .header {
        &__logotype {
            font-size: 46px;
        }
        &__list {
            padding-top: 70px;
            li {
                margin-bottom: 15px;
            }
            a {
                font-size: 25px;
            }
        }
    }
    .start {
        &__inner {
            margin: 80px auto 50px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 365px;
            }
        }
    }
    .pricing-plan {
        &__title {
            font-size: 20px;
        }
    }
    .column {
        width: calc(100% / 3 - 10px);
    }
    .contact {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            line-height: 1.5;
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 667px) {
    .header {
        height: 430px;
        padding-top: 30px;
        background-position: center;
        &__logotype {
            font-size: 43px;
        }
        &__list {
            padding-top: 40px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .first {
        &__inner {
            margin-top: 60px;
        }
    }
    .start {
        &__title {
            font-size: 28px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 340px;
            }
        }
    }
    .column {
        &__upper {
            height: 75px;
            font-size: 22px;
            padding: 26px 0;
            &--center {
                padding: 13px 0;
            }
        }
        &__row {
            font-size: 18px;
            line-height: 55px;
        }
    }
    .contact {
        &__title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
}

@media (max-width: 640px) {
    .header {
        &__list {
            padding-top: 22px;
            li {
                margin-bottom: 15px;
            }
        }
    }
    .first {
        &__inner {
            margin-top: 45px;
        }
    }
    .start {
        &__inner {
            margin: 70px auto 45px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 325px;
            }
        }
    }
}

@media (max-width: 480px) {
    .columns__body {
        display: block;
    }
    .column {
        width: auto;
        margin-bottom: 40px;
        &__link {
            margin-top: 10px;
        }
    }
    .contact {
        &__form {
            width: 100%;
        }
    }
}

@media (max-width: 414px) {
    .header {
        height: 100vh;
        &__list {
            padding-top: 70px;
            li {
                margin-bottom: 30px;
            }
            a {
                font-size: 25px;
            }
        }
    }
    .first {
        &__inner {
            margin-top: 90px;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 35px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .any-browser {
        &__inner {
            margin-bottom: 70px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 210px;
            }
        }
    }
    .contact {
        &__socials {
            a {
                width: 27px;
                height: 30px;
                border-radius: 100%;
                &:nth-child(2) {
                    margin: 0 10px;
                }
            }
        }
    }
    .footer {
        &__copyright {
            font-size: 11px;
        }
    }
}

@media (max-width: 375px) {
    .header {
        &__list {
            padding-top: 100px;
        }
    }
    .first {
        &__inner {
            margin-top: 80px;
        }
        &__title {
            font-size: 27px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 185px;
            }
        }
    }
}

@media (max-width: 360px) {
    header {
        &__list {
            padding-top: 100px;
        }
    }   
    .first {
        &__title {
            font-size: 26px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 180px;
            }
        }
    }
}

@media (max-width: 320px) {
    .header {
        &__logotype {
            font-size: 35px;
        }
    }
    .first { 
        &__title {
            font-size: 23px;
        }
    }
    .any-browser {
        &__title {
            font-size: 27px;
        }
    }
    .swiper {
        &__item-inner {
            img {
                height: 160px;
            }
        }
    }
    .footer {
        &__nav {
            font-size: 11px;
            line-height: 3;
        }
    }
}